.login-container{
    width: 400px;
    background-color: white;
    padding: 10px 30px;
    position: relative;
    border-radius: 5px;
}
.login-container.dark{
    background-color: rgb(30,41,59);
    border: 1px solid white;
}

.login-container.dark .exit{
    color: white;
}
.login-container .exit{
    top: 15px;
    right: 15px;
    position:absolute ;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: transparent;
    outline: none;
}
.login-container.dark .login-title{
    color: white;
}
.login-container .login-title{
    margin-top: 30px;
    font-size: 1.2rem;
    text-align: center;
    word-spacing: 10px;
    font-weight: bold;
}

.login-container .inputs .input-place{
    width: max-content;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.1rem;
}
.login-container.dark .inputs .input-place input{
    background-color: rgb(71,85,105);
    color: white;
}
.login-container.dark .inputs .input-place input::placeholder {
    color: rgb(182, 182, 182);
    opacity: 1; /* Firefox */
  }
.login-container .inputs .input-place input{
    width: 350px;
    height: 35px;
    padding-left: 40px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
}

.login-container.dark .inputs .input-place svg{
    color: white;
}
.login-container .inputs .input-place svg{
    position: absolute;
    left: 10px;
}

.login-container  .login-btn{
    width: 400px;
    height: 35px;
    background-color: rgb(59,130,246);
    border-radius: 5px;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
}
.login-container  .login-btn:hover{
    background-color: rgb(18, 67, 147);
}
.login-container.dark .register{
    color: white;
}
.login-container .register{
    text-align: center;
    font-size: 1.1rem;
}
.login-container .register a{
    text-decoration: none;
    color: rgb(59,130,246);
}