.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav-bar.dark{
    background-color: rgb(30,41,59);
    color: white;
}
.nav-bar.light{
    background-color: white;
    color: black;
}

.nav-bar .logo{
    font-size: 2.3rem;
}

.nav-bar .search-bar{
    display: flex;
    align-items: center;
}
.nav-bar .search-bar .search{
    width: 300px;
    height: 35px;
    padding: 0 15px;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    border: 2px solid rgb(59,130,246);
}
.nav-bar .search-bar .search-btn{
    height: 39px;
    font-size: 2rem;
    color: white;
    background-color: rgb(59,130,246);
    cursor: pointer;
}
.nav-bar .nav-right-elems{
    display: flex;
    list-style: none;
    gap: 0 30px;
    margin: 0;
    font-size: 1.5rem;
}

.nav-bar .nav-right-elems .page-item a{
    text-decoration: none;
    
}
.nav-bar .nav-right-elems .page-item a.dark{
    color: white;
}
.nav-bar .nav-right-elems .page-item a.light{
    color: black;
}

.nav-bar .nav-right-elems .icon{
    font-size: 1.8rem;
}
.nav-bar .nav-right-elems .cart-item{
    position: relative;
}
.nav-bar .nav-right-elems .cart-item .counter{
    position: absolute;
    background-color: red;
    font-size: 18px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    top: -10px;
    right: -10px;
}

.nav-bar .nav-right-elems .nav-btn{
    background-color: transparent;
    
    font-size: 1.5rem;
    cursor: pointer;
}
.nav-bar .nav-right-elems .nav-btn.dark{
    color: white;
}

.nav-bar .nav-right-elems .nav-btn.light{
    color: black;
}